<br>
<div class="alert alert-danger" role="alert" [hidden]="!error">
    Invalid username or password.
    Forgot your password? Click <a routerLinkActive="true" routerLink="/reset-password">here</a> to reset your password.
</div>
<div class="alert alert-success" role="alert" [hidden]="!signupRedirect">
    Registration success! Please login with the details below. 😀
</div>
<br>
<form [formGroup]="loginForm" class="form-group w-100">
    <label for="username">Username</label><br>
    <input type="text" name="username" id="username" formControlName="username" class="form-control"/>

    <label for="password">Password</label><br>
    <input type="password" name="password" id="password" formControlName="password" class="form-control"/>

    <br>
    <button type="button" class="btn btn-primary btn-lg btn-block w-100" (click)="login()">Login</button>
    <p>New? Click <a routerLink="/register" routerLinkActive="active"> here</a> to register</p>
</form>