/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


.fc-invalid {
    margin: 2px;
    color: red;
}

.form-group {
    margin-bottom: 10px;
}


select.form-control {
    -webkit-appearance: menulist;
}

/* Expand to the entire container */
iframe {
    width: 100%;
    height: 100%;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

body.grad-bg {
    background-image: linear-gradient(
        to bottom right,
        rgb(14, 133, 137),
        rgb(30, 188, 141),
        rgb(29, 139, 198),
        rgb(30, 188, 141),
        rgb(14, 133, 137)
    );
}

a {
    color: rgb(94, 18, 94);
}