<mat-list>
    <div *ngFor="let post of posts; let i = index;">
        <mat-list-item>
            <div class="d-flex justify-content-between flex-row-reverse p-3">
                <div class="align-self-center p-2">
                    {{post.caption}}
                </div>

                <div>
                    <button class="border border-primary rounded" mat-button (click)="openDialog(i)">View post</button>
                </div>
            </div>
        </mat-list-item>
        <mat-divider *ngIf="i < (posts.length -1)"></mat-divider>
    </div>
</mat-list>

<!-- todo popup post? -->