<div class="alert alert-danger" role="alert" [hidden]="!message" [innerHTML]="this.message">
    {{this.message}}
</div>

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">EMAIL</th>
                <th scope="col">USERNAME</th>
                <th scope="col">ROLES</th>
                <th scope="col" class="text-center">Action</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let user of userlist">
                <th class="align-middle" scope="row">{{user.id}}</th>
                <td class="align-middle">{{user.email}}</td>
                <td class="align-middle">{{user.username}}</td>
                <td class="align-middle">
                    <div *ngFor="let role of user.roles; let i = index;">
                        {{role.name}}{{(i < user.roles.length-1)?",":""}} </div>
                </td>
                <td class="align-middle">
                    <div class="d-flex align-middle justify-content-around">
                        <button type="button" class="btn btn-danger btn-lg btn-block" (click)="deleteUser(user)"
                            [disabled]="hasAdmin(user.roles)">Delete</button>
                        <button type="button" class="btn btn-warning btn-lg btn-block">Edit (wip)</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>