<br>
<div class="alert alert-danger" role="alert" [hidden]="!error">
    An error occured! Please check the details and try again.
    Forgot your password? Click <a routerLinkActive="true" routerLink="/reset-password">here</a> to reset your password.
</div>
<div class="alert alert-success" role="alert" [hidden]="!signupRedirect">
    Registration success! Please ask the user to login with the registered username and password. 😀
</div>
<br>
<form class="w-100" [formGroup]="this.registrationForm">

    <div class="form-group">
        <label for="username">Username</label><br>
        <input type="text" name="username" id="username" formControlName="username" class="form-control" (blur)="checkUsername()"/>
        <div class="fc-invalid" for="username"
            *ngIf="registrationForm.get('username').invalid && registrationForm.get('username').touched">
            <span *ngIf="registrationForm.get('username').errors?.['taken']; else generic">
                Username is already taken!
            </span>
            <ng-template #generic>Please enter valid username</ng-template>
        </div>
    </div>

    <div class="form-group">
        <label for="password">Password</label><br>
        <input type="password" name="password" id="password" formControlName="password" class="form-control"/>
        <div class="fc-invalid" for="password"
            *ngIf="registrationForm.get('password').invalid && registrationForm.get('password').touched">
            Please enter the password
        </div>
    </div>

    <div class="form-group">
        <label for="password2">Confirm Password</label><br>
        <input type="password" name="password2" id="password2" formControlName="password2" class="form-control"/>
        <div class="fc-invalid" for="password2"
            *ngIf="registrationForm.get('password2').invalid && registrationForm.get('password2').touched">
            <span *ngIf="registrationForm.get('password2').errors?.['mismatch']; else generic">Passwords do not match!
                Please re-enter the passwords.</span>
            <ng-template #generic>Please enter the password</ng-template>
        </div>
    </div>

    <div class="form-group">
        <label for="email">Email address</label><br>
        <input type="email" name="email" id="email" formControlName="email" class="form-control"/>
        <div class="fc-invalid" for="email"
            *ngIf="registrationForm.get('email').invalid && registrationForm.get('email').touched">
            Please enter a valid email address
        </div>
    </div>

    <br>

    <button type="button" class="btn btn-primary btn-lg btn-block w-100" (click)="submit()"
        [disabled]="disableForm()">Register!</button>
</form>