<div class="alert alert-danger mt-3" role="alert" [hidden]="!error">
    Error creating post! Please try again later.
</div>

<div class="container d-flex align-items-center justify-content-center">

    <form [formGroup]="this.newPostForm" class="m-4 pt-2 w-75">
        <div class="card">
            <div class="card-header">
                <select type="text" class="form-control" formControlName="post_type" (blur)="postTypeSelected()">
                    <option *ngFor="let option of postTypes" [value]="option.code" [disabled]="option.disabled">
                        {{option.description}}</option>
                </select>
            </div>

            <div class="card-body" *ngIf="!!this.newPostForm.get('post_type').value">

                <div class="form-group" *ngIf="this.newPostForm.get('post_type').value=='media'">
                    <!-- Preview -->
                    <div class="container d-flex align-items-center justify-content-center p-2 pb-3 w-100 h-50"
                        *ngIf="!!this.newPostForm.get('content').value">
                        <img [src]="this.imageUrl| safe:'resourceUrl'">
                    </div>

                    <!-- file input -->
                    <div class="mb-3">
                        <input class="form-control" type="file" id="content"  formControlName="content" accept="image/*" #photoSelector (change)="onPhotoSelected(photoSelector)">
                    </div>
                </div>

                <div class="form-group" *ngIf="this.newPostForm.get('post_type').value=='link'">
                    <!-- Preview -->
                    <div class="container d-flex align-items-center justify-content-center p-2 pb-3 w-100 h-50"
                        *ngIf="!!this.newPostForm.get('content').value">
                        <img [src]="this.newPostForm.get('content').value| safe:'resourceUrl'">
                    </div>

                    <!-- Hyperlink field input -->
                    <input type="text" name="content" id="content" class="form-control" formControlName="content" (blur)="showPreview()" [placeholder]="this.hlPlaceh"/>
                </div>

                <div class="form-group">
                    <!-- Caption Field -->
                    <textarea type="text" name="caption" id="caption" formControlName="caption" class="form-control"
                        [placeholder]="this.txtAPlaceh"></textarea>
                    <div class="fc-invalid" for="caption"
                        *ngIf="newPostForm.get('caption').invalid && newPostForm.get('caption').touched">
                        Please enter a caption for the post.
                    </div>
                </div>

                <button class="btn btn-primary w-100" (click)="createPost()"
                    [disabled]="this.newPostForm.invalid">Post</button>
            </div>
        </div>




    </form>
</div>