// .post-preview-image{
//     width: 80px;
//     height: 70px;
// }

img {
    object-fit: cover;
    object-position: center;
    border: 1px dotted orange;
    border-radius: 15px;
    max-width: 100%;
    height: auto;
    width: auto\9;
    overflow: scroll;
    scrollbar-width: 5px;
}