<br>
<div class="alert alert-danger" role="alert" [hidden]="!error">
    An error occured! Please check the details and try again.
</div>
<br>
<form class="w-100" [formGroup]="this.resetPasswordForm">

    <div class="form-group">
        <label for="username">Username</label><br>
        <input type="text" name="username" id="username" formControlName="username" class="form-control" (blur)="checkUsername()"/>
        <div class="fc-invalid" for="username"
            *ngIf="resetPasswordForm.get('username').invalid && resetPasswordForm.get('username').touched">
            <span *ngIf="resetPasswordForm.get('username').errors?.['notFound']; else generic">
                Username is not found
            </span>
            <ng-template #generic>Please enter your username</ng-template>
        </div>
    </div>

    <div class="form-group">
        <label for="password">Password</label><br>
        <input type="password" name="password" id="password" formControlName="password" class="form-control"/>
        <div class="fc-invalid" for="password"
            *ngIf="resetPasswordForm.get('password').invalid && resetPasswordForm.get('password').touched">
            Please enter the new password
        </div>
    </div>

    <div class="form-group">
        <label for="password2">Confirm Password</label><br>
        <input type="password" name="password2" id="password2" formControlName="password2" class="form-control" [disabled]="resetPasswordForm.get('password').invalid"/>
        <div class="fc-invalid" for="password2"
            *ngIf="resetPasswordForm.get('password2').invalid && resetPasswordForm.get('password2').touched">
            <span *ngIf="resetPasswordForm.get('password2').errors?.['mismatch']; else generic">
                Passwords do not match! Please re-enter the passwords
            </span>
            <ng-template #generic>Please enter the password again</ng-template>
        </div>
    </div>

    <div class="form-group">
        <label for="email">Email address</label><br>
        <input type="email" name="email" id="email" formControlName="email" class="form-control"/>
        <div class="fc-invalid" for="email"
            *ngIf="resetPasswordForm.get('email').invalid && resetPasswordForm.get('email').touched">
            Please enter the registered email address
        </div>
    </div>

    <br>

    <button type="button" class="btn btn-primary btn-lg btn-block w-100" (click)="submit()"
        [disabled]="disableForm()">Reset password</button>
</form>