<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between px-3 fixed-top">
    <span class="navbar-text" *ngIf="this.isAuthenticated()">{{!!this.username ? 'Welcome ' + this.username :
        ''}}</span>
    <a class="navbar-brand" routerLinkActive="true" routerLink="home" [innerText]="APP_NAME">Home</a>

    <button class="btn btn-outline-primary my-2 my-sm-0" *ngIf="!this.isAuth"
        (click)="buttonAction(this.navBarButtons[2].code)" [innerText]="this.navBarButtons[2].text"></button>

    <button class="btn btn-outline-primary my-2 my-sm-0" *ngIf="this.isAuth"
        (click)="buttonAction(this.navBarButtons[1].code)" [innerText]="this.navBarButtons[1].text"></button>
</nav>



<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between px-3 fixed-bottom">
    <button class="btn btn-outline-primary my-2 my-sm-0" *ngIf="this.isAuth"
        (click)="buttonAction(this.navBarButtons[0].code)" [innerText]="this.navBarButtons[0].text"></button>

    <button class="btn btn-outline-primary my-2 my-sm-0" *ngIf="this.isAuth && this.isAdmin"
        (click)="buttonAction(this.navBarButtons[4].code)" [innerText]="this.navBarButtons[4].text"></button>

    <button class="btn btn-outline-primary my-2 my-sm-0" *ngIf="this.isAuth"
        (click)="buttonAction(this.navBarButtons[3].code)" [innerText]="this.navBarButtons[3].text"></button>
</nav>