<div class="container d-flex justify-content-center flex-column">
    <mat-card>
        <div class="p-2 pb-3 w-100 h-50">
            <div *ngIf="data.type==='link'">
                <img mat-card-image [alt]="data.link" [src]="data.link">
                <!-- <a [href]="data.link">{{data.link}}</a> -->
            </div>

            <div *ngIf="data.type==='media'">
                <img mat-card-image [src]="'data:image/jpg;base64,'+data.mediaDTO.content"
                    [alt]="data.mediaDTO.fileName">
            </div>
        </div>
        <mat-card-content>
            <h3>
                {{data.created_by}} -
                <small class="text-muted">{{data.caption}}</small>
            </h3>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button>LIKE</button>
        </mat-card-actions>

    </mat-card>
</div>